:ruby
  posts = [
    {
      image: 'ae_project/blog/1.png',
      title: 'Победители конкурса',
      url: 'http://artelectronics.ru/blogs/61',
      content: 'Итак, победителями стали...'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Фоторепортаж объявления победителей и награждения',
      url: 'http://artelectronics.ru/blogs/62',
      content: 'Представляем фоторепортаж объявления победителей конкурса Art Electronics и награждения призами!'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Марк Петров "Промграфика"',
      url: 'http://artelectronics.ru/blogs/68',
      content: 'Выставка работ Марка Петрова - как возвращение в детство, на минутку, на секундочку. Приятно будет сходить на нее в эти новогодние каникулы.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]