- site_name = 'http://h-store.ru'
%center
  %div{ style: bg('white') + "width:840px;"  }
    %table{ table.merge!(width: 840) }
      %tr
        %td{ td, wjoin(6) }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_01.png', img_zero, @is_mail
      %tr
        %td{ td, wjoin(6) }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_02.png', img_zero, @is_mail
      %tr
        %td{ td }
          = email_image 'hstore2/hstore_03.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_04.png', img_zero, @is_mail
        %td{ td }
          = email_image 'hstore2/hstore_05.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_06.png', img_zero, @is_mail
        %td{ td }
          = email_image 'hstore2/hstore_07.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_08.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %table{table.merge(align: :left)}
            %tr
              %td{ td }= email_image 'hstore2/hstore_09.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_10.png', img_zero, @is_mail
              %td{ td }= email_image 'hstore2/hstore_11.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_12.png', img_zero, @is_mail
              %td{ td }= email_image 'hstore2/hstore_13.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          = email_image 'hstore2/hstore_14.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %table{table.merge(align: :left)}
            %tr
              %td{ td }
                = email_image 'hstore2/hstore_15.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_16.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_17.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_18.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_19.png', img_zero, @is_mail
            %tr
              %td{ td }
                = email_image 'hstore2/hstore_20.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_21.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_22.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_23.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_24.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          = email_image 'hstore2/hstore_25.png', img_zero, @is_mail




