- site_name = 'http://h-store.ru'
%center
  %div{ style: bg('white') + "width:840px;"  }
    %table{ table.merge!(width: 840) }
      %tr
        %td{ td, wjoin(6) }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_01.png', img_zero, @is_mail
      %tr
        %td{ td, wjoin(6) }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_02.png', img_zero, @is_mail
      %tr
        %td{ td }
          = email_image 'hstore2/hstore_03.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_04.png', img_zero, @is_mail
        %td{ td }
          = email_image 'hstore2/hstore_05.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_06.png', img_zero, @is_mail
        %td{ td }
          = email_image 'hstore2/hstore_07.png', img_zero, @is_mail
        %td{ td }
          = link_to site_name, style: zero do
            = email_image 'hstore2/hstore_08.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %table{table.merge(align: :left)}
            %tr
              %td{ td }= email_image 'hstore2/hstore_09.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_10.png', img_zero, @is_mail
              %td{ td }= email_image 'hstore2/hstore_11.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_12.png', img_zero, @is_mail
              %td{ td }= email_image 'hstore2/hstore_13.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          = email_image 'hstore2/hstore_14.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %table{table.merge(align: :left)}
            %tr
              %td{ td }
                = email_image 'hstore2/hstore_15.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_16.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_17.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_18.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_19.png', img_zero, @is_mail
            %tr
              %td{ td }
                = email_image 'hstore2/hstore_20.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_21.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_22.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_23.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_24.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          = email_image 'hstore2/hstore_25.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %table{table.merge(align: :left)}
            %tr
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_26.png', img_zero, @is_mail
              %td{ td }
                = email_image 'hstore2/hstore_27.png', img_zero, @is_mail
              %td{ td }
                = link_to 'http://vk.com', style: zero do
                  = email_image 'hstore2/hstore_28.png', img_zero, @is_mail
              %td{ td }
                = link_to site_name, style: zero do
                  = email_image 'hstore2/hstore_29.png', img_zero, @is_mail
      %tr
        %td{td, wjoin(6)}
          %p{ style: zero + mt5 + mb5 + arial + fs11 } ООО «ИнтерЛайн», ИНН 7801546605, ОГРН: 1117847168790
          %p{ style: zero + mb15 + arial + fs11 } Юридический адрес: 199406, г. Санкт-Петербург, ул. Гаванская, д. 43
          %p{ style: zero + mb5 + arial + fs12 }
            Уважаемый клиент. Вы получили это пиьсмо, так как являетесь пользователем сайта
            = link_to 'store-app.ru', '#', style: fc('006dd9', true)
          %p{ style: zero + mb5 + arial + fs12 }
            Отписаться от рассылки можно
            = link_to 'тут', '#', style: fc('006dd9', true)