:ruby
  posts = [
    {
      image: 'ae_project/blog/1.jpg',
      title: 'Дизайнер интерьера Ольга Водяная - член жюри конкурса Art Electronics',
      url: 'http://artelectronics.ru/blogs/56',
      content: 'Представляем еще одного почетного члена жюри нашего конкурса - дизайнера Ольгу Водяную.'
    },
    {
      image: 'ae_project/blog/2.jpg',
      title: 'Борис Стругацкий 1933-2012',
      url: 'http://artelectronics.ru/blogs/57',
      content: 'Именем братьев Стругацких названа малая планета № 3054, открытая 11 сентября 1977 года в Крымской астрофизической обсерватории. Борис Стругацкий 1933-2012.'
    },
    {
      image: 'ae_project/blog/3.jpg',
      title: 'Финал конкурса приближается!',
      url: 'http://www.artelectronics.ru/blogs/58',
      content: 'Уважаемые участники конкурса Art Electronics! В программе конкурса произошли изменения. Прием работ на конкурс прекращается и жюри начинает свою работу.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 + mb10 }
    %tr
      %td{ td, style: pb10  }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: fs12 + lh150 }
        %table{ table }
          %tr
            %td{ td, style: pr10 }
              = link_to post[:url] + @user_email_flag do
                = email_image post[:image], {}, @is_mail
            %td{ td, style: arial + fs14 + lh130 }
              = post[:content]