:ruby
  base_text = <<-TEXT
    Добро пожаловать в
    <b>дайджест журнала <a href='http://artelectronics.ru#{@user_email_flag}'>Art Electronics</a></b>.<br>

    В этом номере:
    <a href='http://www.artelectronics.ru/telegraf/telegraf/702#{@user_email_flag}'>судьба Антарктиды, евро и роботов</a> глазами футурологов,
    <a href='http://www.artelectronics.ru/sound/sound/703#{@user_email_flag}'>Ширли Мэнсон   объясняет</a>   причины   воссоздания   Garbage,
    <a href='http://www.artelectronics.ru/fashion/fashion/704#{@user_email_flag}'>"технологическое бессознательное"</a>
    современного  общества  в предпоказе самых интересных
    работ международной выставки Soft Control.

  TEXT

%table{ table, width: "800px", align: :center }
  %tr
    %td{ wjoin3, style: arial + fs10 + p10 + text_left }
      = link_to "http://artelectronics.ru#{@user_email_flag}", style: iblock do
        = email_image 'ae_project/base/ae.jpg', {}, @is_mail
  %tr
    %td{ wjoin3, style: arial + fs15 + p10 + lh150 + text_left }
      = base_text
  %tr
    %td{ wjoin3 } &nbsp;
  %tr
    %td{ td.merge({ width: '55%' }), style: times + fs10 + p10 }
      %p{ style: zero + pb10 }
        = link_to 'NEW', "http://artelectronics.ru/news#{@user_email_flag}", style: gray + times + fs17

      = partial '../mailers/ae_project/posts'

    %td{ width: '3%' } &nbsp;

    %td{ td, width: '42%', style: arial + p10 }
      %p{ style: zero + pb10 }
        = link_to 'BLOG', "http://artelectronics.ru/blogs#{@user_email_flag}", style: gray + times + fs17

      = partial '../mailers/ae_project/blog_posts'
      = partial '../mailers/ae_project/archive'
      = partial '../mailers/ae_project/social'

      %table{ table }
        %tr
          %td{ style: gray + arial + fs17 + text_left }
            Если вы не хотите получать рассылку от ArtElectronics.ru
            просто отправьте пустое письмо на адрес
            = link_to 'postartelectronics.ru', 'mailto:postartelectronics.ru'

    %tr
      %td{ wjoin3, align: :center, style: pt20 }
        = link_to 'ArtElectronics', "http://artelectronics.ru#{@user_email_flag}"