:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Двадцать главных предсказаний на ближайшие 100 лет',
      url: 'http://artelectronics.ru/telegraf/telegraf/702',
      content: 'Судьба Антарктиды, евро и роботов глазами футурологов. Журнал BBC попросил читателей высказать их представления о жизни через 100 лет. Футурологи Иан Пирсон и Патрик Такер прокомментировали мнения читателей.'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Интервью с Ширли Мэнсон: Расставание с плохой девчонкой',
      url: 'http://artelectronics.ru/sound/sound/703',
      content: 'Семь лет назад Garbage, одна из самых успешных рок-групп в мире, распалась. Так почему Ширли Мэнсон захотела все начать сначала? На сцене она никогда не сдавалась. А вот за кулисами случались проблемы. Но в конце концов из них Мэнсон вышла смеющейся, непобежденной и поющей новую музыку возрожденной и обновленной группы Garbage.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Технологическое бессознательное",
      url: 'http://artelectronics.ru/fashion/fashion/704',
      content: 'В Словении открывается выставка «Soft control: искусство, наука и технологическое бессознательное», отражающая «технологическое бессознательное» современного общества – его мифологическое воображение, апокалиптические видения и утопические мечты. Художники очерчивают источники современного технологического мифа, который настаивает на перманентной ценности производительности, неограниченного технологического развития и экономической экспансии.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url]+ @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]