/ backstage
%table{ table.merge( tbg(:white) ), width: '100%', style: mb20 }
  %tr
    %td{ td.merge(align: :center) }

      / main layout
      %table{ table.merge( tbg(:white) ), width: 860, style: mt15 + mb15 }
        %tr{ td, height: 158, style: zero + fs1 + "height:158px;" }
          %td{ td, height: 158, style: zero + fs1 + "height:158px;" }
            = link_to 'http://h-store.ru', style: zero do
              = email_image 'hstore/header.jpg', { border: 0, align: :bottom, style: 'display:block;align:bottom;border:none;' + zero }, @is_mail

        %tr
          %td{ td, style: zero }
            / content table
            %table{ table, width: '100%' }
              %tr
                %td{ td.merge( tbg('#334e76') ), width: 5 }
                
                %td{ td }
                  %div{ style: m20 }
                    / Text block
                    %p{ style: zero + fc('#222222') + fs23 + mb15 + arial }
                      Apple iPhone 5 16Gb (белый)

                    %p{ style: zero + fc('#444444') + fs17 + mb15 + arial + lh120 }
                      Ежегодно с каждым новым поколением Apple iPhone мир ждёт маленькое чудо, устройства становятся всё лучше и удобнее. Совсем недавно было представлено шестое поколение смартфона, который по традиции упакован в небольшую картонную коробку.

                    %p{ style: zero + text_right + mb15 }
                      = link_to 'Читать далее...', '#', style: fc('#0f9fd4', true) + fs17 + arial
                      
                    / Text block
                    %p{ style: zero + fc('#222222') + fs23 + mb15 + arial }
                      Apple MacBook Pro Retina

                    %p{ style: zero + fc('#444444') + fs17 + mb15 + arial + lh120 }
                      Этим устройством Apple не только закрывает зияющую дыру в собственной линейке ноутбуков, но и привлекает внимание других производителей мобильной техники к тому, что у них в модельном ряду нет ничего похожего. Потому что среди достоинств MacBook Pro 13 Retina не только «тонкий пиксель», но и много других интересных особенностей

                    %p{ style: zero + text_right + mb15 }
                      = link_to 'Читать далее...', '#', style: fc('#0f9fd4', true) + fs17 + arial

                    / Nice to buy
                    %p{ style: zero + text_center + fc('#ff9326') + fs25 + arial + mb10 }
                      Желаем Вам приятных покупок!

                    / Line
                    %p{ style: bg('#bebebe') + fs1 + mb10 } &nbsp;

                    / Contacts and Links

                    %table{ table }
                      %tr
                        %td{ td, width: 400 }

                          / SOCIALS
                          %table{ table }
                            %tr
                              %td{ td.merge(align: :center ), width: 130 }
                                = link_to '#', style: iblock do
                                  = email_image 'hstore/h-store.gif', {}, @is_mail
                              
                              %td{ td.merge(align: :center ), width: 14 }= email_image 'hstore/dots_short.gif', {}, @is_mail
                              
                              %td{ td }
                                = link_to '#', style: iblock + ml5 do
                                  = email_image 'hstore/vk.jpg', {}, @is_mail

                                = link_to '#', style: iblock  + ml5 do
                                  = email_image 'hstore/tw.jpg', {}, @is_mail

                                = link_to '#', style: iblock  + ml5 do
                                  = email_image 'hstore/fb.jpg', {}, @is_mail

                                = link_to '#', style: iblock  + ml5 do
                                  = email_image 'hstore/ig.jpg', {}, @is_mail

                                = link_to '#', style: iblock  + ml5 do
                                  = email_image 'hstore/fs.jpg', {}, @is_mail

                        %td{ td.merge(align: :center) }= email_image 'hstore/dots_long.gif', {}, @is_mail

                        %td{ td.merge(align: :center), width: 200 }
                          = link_to 'http://market.yandex.ru/grade-shop.xml?shop_id=95713', style: iblock do
                            = email_image 'hstore/yandex_vote.gif', {}, @is_mail

                        %td{ td.merge(align: :center) }= email_image 'hstore/dots_long.gif', {}, @is_mail

                        %td{ td, width: 208 }
                          %p{ style: arial + zero + fs18 + fc('#555555') + text_right + mt8 }
                            Тел.: 8 (800) 200 68 69
                          %p{ style: arial + zero + fs16 + fc('#555555') + text_right + mt8 }
                            icq: 627995171
                          %p{ style: arial + zero + fs16 + fc('#555555') + text_right + mt8 }
                            skype: H-Store
                          %p{ style: arial + zero + fs16 + fc('#555555') + text_right + mt8 }
                            e-mail:
                            = link_to 'sales@h-store.ru', 'mailto:sales@h-store.ru', style: fc('#0f9fd4', true)

                %td{ td.merge( tbg('#334e76') ), width: 5 }

        %tr
          %td{ td.merge( tbg('#334e76') ) }
            %p{ style: zero + arial + fs13 + mb5 + mt15 + ml30 + fc(:white)}
              Уважаемый клиент. Вы получили это письмо, так как являетесь пользователем сайта
              = link_to 'H-store.ru', 'http://h-store.ru', style: fc('#0f9fd4', true)

            %p{ style: zero + arial + fs13 + mb5 + ml30 + fc(:white) }
              Отписаться от рассылки можно
              = link_to 'тут', '#', style: fc('#0f9fd4', true)

        %tr{ height: 11, style: zero + fs1 + "height:11px;" }
          %td{ td, height: 11, style: zero + fs1 + "height:11px;" }
            = email_image 'hstore/footer.gif', { style: zero }, @is_mail