:ruby
  posts = [
    {
      image: 'ae_project/post/1.png',
      title: 'Ретрофутуризм: из прошлого - о будущем',
      url: 'http://artelectronics.ru/mirazhi/mirazhi/698',
      content: 'Ретрофутуристические мотивы сейчас весьма реалистичны: пугающие многоэтажные дороги, жилища, устремляющиеся в облака... Настроение утопической идиллии достигает предела. Особенно «умиляет» американская фантазия на тему шоппинга с помощью магического устройства, одновременно напоминающего телефон и телевизор. Кого сегодня удивишь шоппингом он-лайн?'
    },
    {
      image: 'ae_project/post/2.png',
      title: 'Закат',
      url: 'http://artelectronics.ru/vision/vision/707',
      content: 'Австрийский кинорежиссер Михаэль Ханеке рассказывает о своем фильме «Любовь», взявшем главный приз на Каннском кинофестивале в 2012 году. Пугающему призраку смерти в этом фильме сопутствует редкая для холодноватого аналитического кино господина Ханеке нежность. Фильм тронул критиков.'
    },
    {
      image: 'ae_project/post/3.png',
      title: "Цифровые и технологические тренды будущего: 2013",
      url: 'http://artelectronics.ru/telegraf/telegraf/705',
      content: 'Каждый год, начиная с 1985 года, редакция журнала FUTURIST составляет список прогнозов на будущее. В прошедшие годы ими были предсказаны, например, масштабное развитие Интернета, появление виртуальной реальности и конец холодной войны. Прогнозы предлагаются для размышления и обсуждения, это не "абсолютные" предсказания будущего.'
    }
  ]

- posts.each do |post|
  %table{ table, style: pb10 }
    %tr
      %td{ colspan: 2 }
        = link_to post[:url] + @user_email_flag, style: gray + fs15 + arial do
          = post[:title]
    %tr
      %td{ td, style: p10 }
        = link_to post[:url] + @user_email_flag, style: iblock do
          = email_image post[:image], {}, @is_mail
      %td{ td }
        %p{ style: times + fs15 + lh150 }= post[:content]