- content_for :css do
  = stylesheet_link_tag 'app/style'

.index
  .part
    %h1 Sinatra/Padrino App for Frontend developers
    %p Use HAML, SASS and Coffee Script for frontend development right now!

  .part
    %h1 Шаблонное приложение для Frontend разработчиков на основе Sinatra/Padrino 
    %p Используйте HAML, SASS и Coffee Script для разработки прямо сейчас!

  .part
    %h4= link_to 'The_template project', 'https://github.com/the-teacher/the_template'
    %h4= link_to 'HTML letter example', '/mail/letter'
    %h4= link_to 'Test page', '/test_page'
    %h4= link_to 'Example page', '/example'
