- content_for :css do
  = stylesheet_link_tag 'stone_garant/index'

.content_line.dark_gray_1
  .content_holder.index_header
    .description Памятники из черного гранита с доставкой по всей России
    .phone 8 800 333-08-31
    .recall= link_to 'Вам перезвонить?', '#'

.content_line.light_gray_1
  .content_holder.base_nav.cf
    .mlr20
      = link_to '', '#', class: :stone_garant_logo
      .menu
        = link_to 'Продукция'
        = link_to 'Компания'
        = link_to 'Работы'
        = link_to 'Услуги'
        = link_to 'Акции'
        = link_to 'Контакты'

.content_line.dark_gray_1
  .content_holder.sections_nav.cf
    .mlr20
      .sections
        = link_to 'Одинарные'
        = link_to 'Двойные'
        = link_to 'С крестами'
        = link_to 'Простые'
        = link_to 'Эксклюзивные'
        = link_to 'Комплектующие'

.content_line.dark_gray_4
  .content_holder.main_banner
    .mlr20
      %h5.title
        гарантия памяти
        %br
        о ваших близких

      %p.descr
        Наша мастерская производит надгробные памятники 
        %br
        из черного гранита и доставляет их по всей России

      = link_to 'Подобрать памятник', '#', class: :choose_goods

      %p.helper
        Не знаете какой памятник Вам нужен? Тогда воспользуйтесь
        = link_to 'помощником', '#'

.content_line.light_gray_3
  .content_holder.quality
    %p.title Высочайшие стандарты. Гарантия качества.

    .portfolio

    %p.descr
      %b О нашей мастерской
      %br
      Мы специализируемся на изготовлении надгробных сооружений, памятников, стел, мемориальных комплексов по типовым проектам, либо по эскизам заказчика.
      Наши специалисты выполнят работы любой сложности и со всей ответственностью и серьезностью отнесутся к вашему заказу.

      %span.etching
        Вы можете заказать
        = link_to 'гравировку', '#'
        на любых языках, в том числе на английском и арабском, портрета,
        %span.nobr эпитафий –
        все Ваши пожелания будут учтены.

.content_line.light_gray_1
  .content_holder.advantages
    .mlr20
      %ul.cf
        %li
          %p
            %b Широкий ассортимент продукции
            Выбирайте из более чем 100 моделей памятников, которые удовлетворят даже самого изысканного заказчика.
        %li
          %p
            %b Акции и скидки
            Распродажи. Скидки от величины стоимости заказа. Скидки от количества заказанных памятников до 10%.
        %li
          %p
            %b Натуральный черный гранит
            Наша компания работает только с натуральным монолитным черным гранитом из карьеров в Карелии.
        %li
          %p
            %b Доставка по всей России
            Мы доставим памятник в любую точку России за очень низкую цену.

.content_line.light_gray_3
  .content_holder.feedback
    %p.title Мы оправдываем доверие сотен людей

    .slider#slider
      = link_to '', '#', class: :bck
      = link_to '', '#', class: :fwd
      %ul
        - 5.times do
          %li
            %blockquote
              Выражаю личную благодарность Альберту Осмоловскому за внимательность, отзывчивость, терпение и понимание.
              Памятник получился очень красивым. Помимо этого, по моей просьбе был изготовлен и гранитный цоколь и гранитные плитки для облицовки бетонного цоколя могилы.
              Заказ был нестандартный. Несмотря на это, он был принят и выполнен на отлично.
              Прослеживалась внимательность к мелочам, начиная от изготовления изделий и заканчивая упаковкой при доставке.
            .author
              %span Лали, г. Санкт-Петербург

    = link_to 'Читать все отзывы', '#', class: :feedback_list

.content_line.dark_gray_2
  .content_holder.index_footer
    = link_to '', '#', class: :stone_garant_logo_2
    
    %ul
      %li
        © 2013 ООО «Риткам»
      %li
        185014, Республика Карелия, 
        г. Петрозаводск, пр-т Лесной, д. 51, корп. 2
      %li
        8 800 333-08-31
        %br
        = mail_to 'info@stone-garant.ru'