- content_for :css do
  = stylesheet_link_tag 'stone_garant/catalog'
  = stylesheet_link_tag 'stone_garant/product'

.content_line.dark_gray_1
  .content_holder.header
    .description Памятники из черного гранита с доставкой по всей России
    .phone 8 800 333-08-31
    .recall= link_to 'Вам перезвонить?', '#'

.content_line.light_gray_1
  .content_holder.base_nav.cf
    .mlr20
      = link_to '', '#', class: :stone_garant_logo
      .menu
        = link_to 'Продукция', '/catalog'
        = link_to 'Компания'
        = link_to 'Работы'
        = link_to 'Услуги'
        = link_to 'Акции'
        = link_to 'Контакты'

.content_line.dark_gray_1
  .content_holder.sections_nav.cf
    .mlr20
      .sections
        = link_to 'Одинарные'
        = link_to 'Двойные'
        = link_to 'С крестами'
        = link_to 'Простые'
        = link_to 'Эксклюзивные'
        = link_to 'Комплектующие'

.content_line.light_gray_2
  .content_holder
    = link_to "Вернуться к списку товаров", '#', class: :back_link
    %h1 Гранитный памятник "Песня орфея"

    .mlr20
      .content.user_content
        %p Профессиональное изготовление памятников в Санкт-Петербурге с последующей их установкой в любом месте на территории Ленинградской области.

        %p За 9 лет успешной работы накоплен огромный опыт, позволяющий выполнять заказы любой сложности. Созданы свои производственные мастерские, где работают высококвалифицированные специалисты, что позволяет держать низкие цены при высоком качестве исполнения.

        %p Особое внимание стоит обратить на то, что компания при изготовлении памятников использует только натуральный камень : гранит и мрамор.

        %p Мы не используем недолговечные синтетические материалы и изделия из гранитной крошки!

        %p Что мы предлагаем?

        &ndash; Консультацию специалиста;
        <br> &ndash; Выезд специалиста для замера участка;
        <br> &ndash; Выполнение предварительных эскизов памятников и мемориальных комплексов любой сложности;
        <br> &ndash; Работа с фотографиями для портретов, компьютерная обработка;
        <br> &ndash; Установка памятников и мемориальных комплексов любой сложности на любом кладбище Ленинградской области
        с гарантийным сроком обслуживания-10 лет;
        <br> &ndash; Возможность беспроцентной рассрочки по оплате;
        <br> &ndash; Бесплатное ответственное хранение изготовленного памятника на любой срок;
        <br> &ndash; 100%-ную гарантию на все виды работ.

        %p Наши преимущества:

        &ndash; Наши офисы и производственные мастерские находятся на территории кладбищ (Петергофское кладбище, Ломоносовское кладбище «Илики», Кронштадтское кладбище);
        <br> &ndash; Бесплатная доставка на Стрельнинское кладбище, Шуваловское кладбище и другие (по согласованию);
        <br> &ndash; Возможность копирования уже установленного памятника –бесплатный выезд на место захоронения (замер стелы, цветников, подставки, определение вида камня, использованного шрифта, размера букв и др.);
        <br> &ndash; Исполнение художественной работы (портрет, цветы, любые изображения ) профессиональными художниками.

        %p Каталог продукции включает:

        &ndash; Стандартные вертикальные надгробия;
        <br> &ndash; Стандартные горизонтальные надгробия;
        <br> &ndash; Барельефы и статуи из мрамора;
        <br> &ndash; Скалы;
        <br> &ndash; Лампады;

.content_line.light_gray_1
  .content_holder.help_bar
    .mlr20
      %span.delivery Бесплатная доставка по всей России
      %span.phone Есть вопросы? Звоните <b>8 800 333-08-31</b>

.content_line.dark_gray_2
  .content_holder.footer
    .mlr20
      %p
        = link_to '', '#', class: :stone_garant_logo_2
      %ul
        %li
          © 2013 ООО «Риткам»
        %li
          185014, Республика Карелия, 
          г. Петрозаводск, пр-т Лесной, д. 51, корп. 2
        %li
          8 800 333-08-31
          %br
          = mail_to 'info@stone-garant.ru'