- content_for :css do
  = stylesheet_link_tag 'stone_garant/catalog'
  = stylesheet_link_tag 'stone_garant/product'

.content_line.dark_gray_1
  .content_holder.header
    .description Памятники из черного гранита с доставкой по всей России
    .phone 8 800 333-08-31
    .recall= link_to 'Вам перезвонить?', '#'

.content_line.light_gray_1
  .content_holder.base_nav.cf
    .mlr20
      = link_to '', '#', class: :stone_garant_logo
      .menu
        %ul
          %li= link_to 'Продукция', '/catalog'
          %li
            = link_to 'Компания'
            .submenu
              %ol
                %li= link_to 'О Компании'
                %li= link_to 'Преимущества'
                %li= link_to 'Отзывы'

          %li= link_to 'Работы'
          %li= link_to 'Услуги'
          %li= link_to 'Акции'
          %li= link_to 'Контакты'

.content_line.dark_gray_1
  .content_holder.sections_nav.cf
    .mlr20
      .sections
        = link_to 'Одинарные', '#', class: :current
        = link_to 'Двойные'
        = link_to 'С крестами'
        = link_to 'Простые'
        = link_to 'Эксклюзивные'
        = link_to 'Комплектующие'

.content_line.light_gray_2
  .content_holder
    .product_head
      .beadcrumbs
        = link_to "Памятники", '#'
        = link_to "Одинарные", '#', class: :orange
        = link_to "Название памятника", '#', class: :current

      = link_to "Вернуться к списку товаров", '#', class: :back_link

      -# %h1.hidden Гранитный памятник "Песня орфея"

    .mlr20
      .product.cf
        .product_data
          .preview
            = link_to "", class: :current do
              = image_tag "/images/stone_x.png"
            = link_to "" do
              = image_tag "/images/stone_x.png"
            = link_to "" do
              = image_tag "/images/stone_x.png"
          .main_image
            = image_tag "/images/stone_main_image.png"
          .params
            3

      .product_info
        .tabs
          = link_to 'Специализация', '#', class: :active
          = link_to 'О компании', '#'
          = link_to 'VIP серия', '#'
        .content
          %p Наша Гранитная мастерская занимается изготовлением изделий из природного камня (гранита, мрамора, кварцита). Мы специализируемся на изготовлении надгробных сооружений, памятников, мемориальных комплексов. Также наша Гранитная мастерская изготовит памятники и выполнит граверные работы на памятных мемориальных досках из гранита. 
          %p Изготовление памятников из природного камня это очень трудоёмкий и ответственный труд. Сотрудники нашей гранитной мастерской профессионально выполнят свою работу с момента приема заказа до момента его установки. На каждом этапе изготовления памятника мы готовы учесть все пожелания заказчика и воплотить их в камне.               
        .content.hidden
          %p В нашей гранитной мастерской надгробные плиты и памятники разрабатывают и создают профессиональные художники, которые перенесут изображение с фотографии на камень. У нас вы можете сделать заказ памятников с покрытием сусальным золотом. Мы можем предложить свои варианты изготовления надгробных комплексов, памятников, а так же всегда готовы рассмотреть и  изготовить памятники по Вашим эскизам любой сложности. 
          %p Работая с прямыми производителями Габбро диабаза месторождений Карелии и мрамора (змеевика) Южного Урала мы имеем возможность предложить низкие цены при неизменном качестве на наши изделия.

.content_line.light_gray_1
  .content_holder.help_bar
    .mlr20
      %span.delivery Бесплатная доставка по всей России
      %span.phone Есть вопросы? Звоните <b>8 800 333-08-31</b>

.content_line.dark_gray_2
  .content_holder.footer
    .mlr20
      %p
        = link_to '', '#', class: :stone_garant_logo_2
      %ul
        %li
          © 2013 ООО «Риткам»
        %li
          185014, Республика Карелия, 
          г. Петрозаводск, пр-т Лесной, д. 51, корп. 2
        %li
          8 800 333-08-31
          %br
          = mail_to 'info@stone-garant.ru'

-# 
  // Old version
  .product.cf.hidden
    .preview
      = image_tag "/images/product_1.png"
    .finished
      %h5 Готовые работы

    .info.user_content
      %dl
        %dt Комплект
        %dd стела, подставка, цветник
        %dt Размеры товара
        %dd 99х99х99
        %dt Описание товара
        %dd Мы специализируемся на изготовлении надгробных сооружений, памятников, стел, мемориальных комплексов по типовым проектам, либо по эскизам заказчика.

      = link_to "Рассчитать заказ", '#', class: "btn_link order_calc"