- unless flash[:notice].blank?
  %p{ style: 'padding: 10px; border: 1px solid green;' }= flash[:notice]

- unless flash[:error].blank?
  %p{ style: 'padding: 10px; border: 1px solid red;' }= flash[:error]

= yield

%div{ :style => "padding: 10px 10px 0 10px; margin-top: 10px; border: 1px solid gray;" }
  = form_tag '/mail/send' do
    %p
      Заголовок рассылки
    %p
      = text_field_tag :subject, value: 'ArtElectronics. Дайджест'
    %p
      Email через запятую
    %p
      = text_area_tag :emails, row: 40, cols: 30, style: 'padding: 5px; width: 500px; height: 250px;', value: "zykin-ilya@ya.ru"
    %p
      Email с новой строки
    %p
      = text_area_tag :emails_str, row: 40, cols: 30, style: 'padding: 5px; width: 500px; height: 250px;', value: "zykin-ilya@ya.ru"

    %p= submit_tag 'Запустить рассылку'